*{
  box-sizing: inherit;
}
#main{
  margin-left: 10px;
}
.skip-link{
  font-size: 10px;
  background-color: black;
  color: aliceblue;
  height: auto;
  width: 100%;
}
.flexible-nav{
    display: flex;
    flex-wrap: nowrap;
    background-color: #000000;
    color: greenyellow;
    height: auto;
    justify-content: space-evenly;
}
.flexible-nav-items{
  margin-top: 10px;
  text-align: center;
  background-color: #000000;
  color: greenyellow;
}
.nav-a:hover, .nav-a:focus{
  outline: 2px solid white;
  outline-offset: 2px;
}
button:hover, button:focus{
  outline: 2px solid white;
  outline-offset: 2px;
}
input:hover, input:focus{
  outline: 2px solid white;
}
  .nav-a{
    text-decoration: none;
    background-color: #000000;
    color: greenyellow;
  }
  .ham-a{
    text-decoration: none;
    color:black;
  }
  .ham-a:hover, .ham-a:focus{
    text-decoration: none;
    color:black;
  }
.search-edit{
  border: 1px solid greenyellow;
  width: 20%;
  margin-bottom: 5px;
}
::placeholder{
  font-size: 50%;
}
.search-btn{
  margin-bottom: 5px;
  border: 1px solid greenyellow;
}
body {
  background-color: #EFDECD;
  position: relative;
  height:100vh;
  
}
/* Initially Hamburger Menu will be hidden */
.menu{
   display: none !important;
}

/* Mobile */
@media screen and (max-width: 547px) {
  /* Show Hamburger Menu */
  .menu{
    display: block !important;
    margin-bottom: 5px;
 }
 .hide-menu-items{
    display: none !important;
 }
}

/* Desktop */
@media screen and (min-width: 546px) {
  .panel {
    display: none !important;
  }
}

.active {
  background-color: rgb(28, 46, 2);
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.panel > div:not(:last-child){
border-bottom: 1px solid grey;
}
.panel > div:hover{
  background-color: bisque;
}

#image-- {
  height: 100%; 

  width: 100%;
 
}
#image--:focus{
  outline: 2px solid blue;
  }
  h2{
    font-size: 30px;
    text-decoration: none;
  }

  p{
    font-size: 20px;
  }
  .lan{
    font-size: 20px;
  }
  .lan_{
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .lan li:first-child {
    order: 5;
  }
  .lan li:nth-child(2) {
    order: 4;
  }
  .lan li:nth-child(3) {
    order: 3;
  }
  .lan li:nth-child(4) {
    order: 2;
  }

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width:100%;
  background-color: black;
  color: white;
  text-align: center;
}

footer button{
  border:none;
  margin:10px 5px;
  background-color: greenyellow;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 60%;
  font-weight: 900;
  width: 20%;
  height: 60%;
}

.modalAccept { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.hidden{
  display: none;
}

.overlay { 
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal-btn{
  background-color: greenyellow;
  border-radius: 5rem;
  margin: 5px;
  cursor: pointer;
  border: 1px solid green;
}


@media (max-width: 547px)
{
footer {
   display: flex;
   justify-content: center;
}
}

/* Snackbar Notification */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 2rem;
  padding: 1vh;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 5vh;
}

#snackbar.show {
  visibility: visible;
}
/* End of Snackbar Notification */
